{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<style>
    .oath-container {
        background: url(https://i.ibb.co/HqQXqWV/Artboard-2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        padding: 12px;
        padding-top: 5%;
        height: 100%;
        /* width: 600px; */
        width: 45%;
    }

    .btn-outline-light {
        margin: 2px;
        background-color: white;
        color: #3574bd;
        border-color: #3574bd;
    }

    .btn-outline-light:hover {
        background-color: #3574bd;
        color: aliceblue;
    }

    h1 {
        margin-bottom: 60px;
    }

    #signup_form {
        background-color: rgba(128, 219, 241, 0.63);
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 2em;
        border-color: rgb(148, 188, 235);
        border-style: solid;
        border-width: 3px;
    }
</style>

<div class="container oath-container shadow">
    <h1><i class="fas fa-user-plus"></i> {% trans "Sign Up" %}</h1>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
</div>

{% endblock %}