body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

#index_header {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e5/Bangkok_Panorama_%28211522205%29.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#city {
    max-width: 100%;
    visibility: hidden;
}

#sub_header {
    /* background-color: violet; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    margin-bottom: 16px;
    padding-left: 64px;
    padding-top: 8px;
}

#index_hr {
    border-bottom: 2px solid black;
    border-radius: 5px;
    margin-right: 256px;
    margin-top: 0%;
}

#condo_display {
    /* background-color: yellowgreen; */
    width: 100%;
}

#condo_image {
    background-image: url(https://cf.bstatic.com/images/hotel/max1024x768/188/188168313.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#condo_info {
    /* padding: 10%; */
    text-align: center;
    height: calc(100%);
    width: calc(100%);
    padding-top: 16px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(225, 237, 243);
}

#condo_hr {
    border-bottom: 2px solid black;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

#display_box {
    margin: auto;
    margin-bottom: 4px;
    padding: 2%;
    height: 300px;
    width: 350px;
    border-radius: 5%;
    background-color: black;
}

#box_title {
    font-size: larger;
    text-align: center;
    padding-bottom: 15px;
}

#login_button {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    border-width: 0px;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 250px;
    line-height: 60px;
}

#upper_footer {
    background-color: #3574bd;
    height: 75%;
    width: 100%;
}

#lower_footer {
    background-color: yellowgreen;
    max-height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#links {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

#links:hover {
    color: rgb(196, 191, 191);
}

#vertical_line {
    border-left: solid rgb(181, 188, 194);
    margin-left: 5%;
    margin-right: 10%;
    width: 1px;
    height: 150px;

}
