{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}

<style>
  .btn-outline-light {
    margin: 2px;
    background-color: white;
    color: #3574bd;
    border-color: #3574bd;
  }

  .btn-outline-light:hover {
    background-color: #3574bd;
    color: aliceblue;
  }

</style>


  <a title="{{brand.name}}"
     class="btn btn-outline-light my-2 my-sm-0 socialaccount_provider {{provider.id}} {{brand.id}}"
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
{% endfor %}
{% endif %}
  <a title="{{provider.name}}" class="btn btn-outline-light my-2 my-sm-0 socialaccount_provider {{provider.id}}"
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
{% endfor %}
