[run]

branch = True

cover_pylib = False

omit =
    manage.py
    */site-packages/*
    estateSite/*
    estate/migrations/*
    estate\__init__.py
    estate\tests\*

[report]

exclude_lines =
    def clean
    def __str__
    def upload_condo
    def upload_unit
    def contact
