{% extends 'base.html' %} {% load static %} {% block content %}
<style>
  .oath-container {
    background-color: aquamarine;
    background: url("../../estate/static/img/artboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 12px;
    height: 100%;
  }

  .btn-outline-light {
    margin: 2px;
    background-color: white;
    color: #3574bd;
    border-color: #3574bd;
  }

  .btn-outline-light:hover {
    background-color: #3574bd;
    color: aliceblue;
  }
</style>

<div class="container oath-container">
  <!-- <img src="../../estate/static/img/artboard.jpg" alt="artboard"> -->
  <div>
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p>
        <button type="submit" class="btn btn-outline-light my-2 my-sm-0">Login</button>
      </p>
      <input type="hidden" name="next" value="{{next}}" />
    </form>
    <a href="{% url 'password_reset' %}"><button class="btn btn-outline-light my-2 my-sm-0">Forgot
        password?</button></a>
    <a href="{% url 'signup' %}"><button class="btn btn-outline-light my-2 my-sm-0">Signup</button></a>
    <a href="{% url 'estate:index' %}"><button class="btn btn-outline-light my-2 my-sm-0">Back to Index</button></a>
  </div>
</div>
{% endblock %}