{% load static %}
<!-- Footer -->
<footer class="footer">
    <div id="upper_footer">
        <span style="font-size: large; color: aliceblue; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            <!-- <div class="row" style="width: 100%;">
                <div style="margin-left: 10%;">
                    Menu<br>
                    <a href="{% url 'estate:index' %}" id="links">Home</a>
                </div>
                <hr id="vertical_line">
                <div style="margin-left: -5%; width: 350px;">
                    <div class="row" style="padding-top: -10px; height: 30px;">
                        About us
                    </div>
                    <div class="row" style="height: 30px;">
                        <a href="#" id="links">Contract</a>
                    </div>
                    <div class="row" style="height: 30px;">
                        <a href="#" id="links">Terms & Condition</a>
                    </div>
                    <div class="row">
                        <a href="#" id="links">Privacy Policy</a>
                    </div>
                </div>
                <hr id="vertical_line">
                <div style="margin-left: -5%; width: 350px;">
                    <div class="row" style="padding-top: -10px; height: 30px;">
                        Follow us
                    </div>
                    <div class="row" style="height: 30px;">
                        <a href="#" id="links">Facebook</a>
                    </div>
                    <div class="row" style="height: 30px;">
                        <a href="#" id="links">Twitter</a>
                    </div>
                    <div class="row">
                        <a href="#" id="links">Instragram</a>
                    </div>
                </div>
            </div> -->
        </span>
    </div>
    <div id="lower_footer">
        <span style="font-size: large; color: #3574bd; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">[LOGO]</span>
    </div>
</footer>

