{% load static %}
<!-- Footer -->
<footer class="footer">
    <div id="upper_footer">
        <span style="font-size: large; color: aliceblue; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        </span>
    </div>

    <div id="lower_footer">
        <span style="width: 12%;">
            <img src="https://lh6.googleusercontent.com/lxCbmuaGua8DnezrAR1MFTH6anCHAD4INCjSuk6cnwuHdioRIz6yc-Bu0YfEWnUT4P_gi-eRbJhWblti_Ybz=w2880-h992-rw"
                alt="logo" width="100%">
        </span>
    </div>
</footer>