{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'estate:index' %}" style="width: 11%;">
        <img src="https://lh3.googleusercontent.com/TbttAzILKvW3qswWlVCkcd-N-rgIpDde1-TS_FdoYBIpGCcAocFSAWzZtvf4m8oHkWwSlEUCacqnhj9S-Qff=w1752-h1596-rw"
            alt="logo" width="100%">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'estate:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.username %}
            <li class="nav-item">
                <a class="nav-link" href="###">
                    <button id="login_button" style="background-color: #e3e3e3;">
                        {{ user.username }}
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <button id="login_button" style="background-color: #b7efd4;">
                        logout
                    </button>
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                    <button id="login_button" style="background-color: #e3e3e3;">
                        login
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">
                    <button id="login_button" style="background-color: #b7efd4;">
                        signup
                    </button>
                </a>
            </li>
            {% endif %}
            {% if user.role == 2 %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'estate:upload_index' %}">
                    <button id="login_button" style="background-color: #cad8ff;">
                        Post
                    </button>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div style="background-color: #3574bd; height: 25px; width: 100%;">
</div>