{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'estate:index' %}" style="width: 11%;">
        <img src="https://lh5.googleusercontent.com/LTqy9iyos4qDzWSGCQo07UKdp2UO2G40WG_7D2ultfnWHxeo_HGWoyRZp3lbI-wLqhmBXGDS53H6dBcMl6YV=w2880-h992-rw"
            alt="logo" width="100%">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'estate:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'estate:condo_listing' %}">Condos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'estate:unit_listing' %}">Units</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.username %}
            <li class="nav-item">
                <a class="nav-link" href="###">
                    <button id="login_button" style="background-color: #e3e3e3;">
                        {{ user.username }}
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">
                    <button id="login_button" style="background-color: #b7efd4;">
                        logout
                    </button>
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">
                    <button id="login_button" style="background-color: #e3e3e3;">
                        login
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">
                    <button id="login_button" style="background-color: #b7efd4;">
                        signup
                    </button>
                </a>
            </li>
            {% endif %}
            {% if user.role == 2 %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'estate:upload_index' %}">
                    <button id="login_button" style="background-color: #cad8ff;">
                        Post
                    </button>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div style="background-color: #3574bd; height: 25px; width: 100%;">
</div>