{% extends 'base.html' %}
{% load static %}

<html lang="en">

<head>
    <title>Unit Listing</title>
</head>

{% block content %}
<section>
    <div id="condo_header">
    </div>
    <div class="container">
        <div style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <h3>
                <i class="fas fa-door-open"></i> Units
            </h3>
            <p>
                {{ page_obj.number }}-{{ page_obj.paginator.num_pages }} of {{ unit_listing|length }} results.
                <hr>
            </p>
        </div>
        <div class="row">
            {% for result in page_obj %}
            <div id="condo_box" class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview shadow-lg">
                    <img class="card-img-top" src="{{ result.get_first_image }}" alt="">
                    <div class="card-img-overlay">
                    </div>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="mb-4 text-grey-darker"
                                style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                                {{ result.title }}</h4>
                        </div>
                        <hr>
                        <div class="row py-2 text-primary">
                            <div class="col-6">
                                Unit Number: {{ result.number }}</div>
                            <div class="col-6">
                                Availability: {% if result.still_on_contract %} No {% else %} Yes {% endif %}</div>
                        </div>
                        <div class="row py-2 text-primary">
                            <div class="col-6">
                                Rent: {{ result.price_for_rent }} ฿</div>
                            <div class="col-6">
                                Size: {{ result.area }} m²</div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'estate:unit' result.id %}">
                    <div class="overlay">
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row" style="margin: 0%;">
        <div class="col-md-12">
            {% if page_obj.has_other_pages %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page=1" class="page-link">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                </li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{page_obj.paginator.num_pages}}" class="page-link">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}