{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
    <title>{{ unit.unit_number }}</title>
</head>


{% block content %}

<section id="listing" class="py-4">
    <div style="margin-left: 2%; margin-top: -1%;">
        <a href="{% url 'estate:condo' condo.id %}" id="back_to_condo">
            <i class="fas fa-angle-double-left"></i> Back to Condo
        </a>
</section>

<row>
    <h2 style="margin-left: 15%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        {{ unit.title }}</h2>
    <h4 style="margin-left: 15%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        {{ unit.condo }}</h4>
    <hr style="margin-left: 10%; margin-right: 10%;">
</row>
<!-- Images used to open the lightbox -->
<div class="container">
    <div class="row" style="margin-left: 1%;">
        <div class="col-lg-12">
            <!-- Home Main Image -->
            <img src="{{ unit.get_first_image }}" alt="" class=" img-main img-fluid mb-3">

            <div class="row mb-5 thumbs">
                {% for img_url in unit.get_images_url  %}
                <div class="col-md-2">
                    <a href="{{ img_url }}" data-lightbox="condo-images">
                        <img src="{{ img_url }}" class="img-fluid">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
{#        <div class="col-md-3">#}
{#            <div class="card mb-3">#}
{#                <div class="card-body">#}
{#                    <div style="text-align: center; color: #09182e;">#}
{#                        <p><i class="far fa-4x fa-user"></i></p>#}
{#                        <h5 class="card-title">Property Realtor</h5>#}
{#                        <hr>#}
{#                    </div>#}
{#                    <h6 class="text-primary">{{ owner }}</h6>#}
{#                    <h8 class="text-secondary">{{owner.email}}</h8>#}
{#                </div>#}
{#            </div>#}
{#            <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Make An#}
{#                Inquiry</button>#}
{#        </div>#}
    </div>
</div>
<div class="container shadow-sm">
    <div class="row mb-5 fields">
        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-primary">
                    <i class="fas fa-money-check-alt"></i> Rental Price:
                    <span class="float-right">{{ unit.price_for_rent }}฿</span>
                </li>
                <li class="list-group-item text-primary">
                    <i class="fas fa-bed"></i> Bedrooms:
                    <span class="float-right">{{ unit.number_of_bedroom }}</span>
                </li>
                <li class="list-group-item text-primary">
                    <i class="fas fa-bath"></i> Bathrooms:
                    <span class="float-right">{{ unit.number_of_bathroom }}</span>
                </li>
                <li class="list-group-item text-primary">
                    <i class="fas fa-building"></i> Floor number:
                    <span class="float-right">{{ unit.floor_number }}</span>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-primary">
                    <i class="fas fa-money-bill-wave"></i> Price for sale:
                    <span class="float-right">{{ unit.price_for_sell }}฿</span>
                </li>
                <li class="list-group-item text-primary">
                    <i class="fas fa-th-large"></i> Square Metres:
                    <span class="float-right">{{ unit.area }} m²</span>
                </li>
                <li class="list-group-item text-primary">
                    <i class="fas fa-sign"></i> Unit number:
                    <span class="float-right">{{ unit.number }}</span>
                </li>
                <li class="list-group-item text-primary">
                    <i class="fas fa-user"></i> Realtor:
                    <span class="float-right">{{ unit.owner }}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <hr style="border-width: 2px;">
    <div class="row"
        style="margin-right: 10%; padding-left: 4%; margin-top: 2%; margin-bottom: 2%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        <h5>
            Description
        </h5>
    </div>
    <div class="row"
        style="word-break: break-all; margin-right: 10%; padding-left: 4%; margin-top: 2%; margin-bottom: 2%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        {{ unit.description }}
    </div>
    <hr style="width: 30%; float: left; margin-left: 15%;">
    <i class="fas fa-ellipsis-h" style="color:gray; padding-left: 4%;"></i>
    <hr style="width: 30%; float: right; margin-right: 15%; margin-left: -10%;">
    <div class="row"
        style="margin-top: 4%; padding-left: 10%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        <div class="row" style="float: left; width: 100%; margin-left: -5%; margin-bottom: 2%;">
            <h5>
                Amenities
            </h5>
            <br>
        </div>
        {% for value, text in condo.AMENITY_TYPES %}
        <div class="ui_checkbox col-md-6 col-lg-4 mb-4 shadow-sm"
            style="max-width: 300px; margin-right: 5px; background-color: rgb(239, 248, 255);">
            <input id="id_amenity_{{ forloop.counter0 }}" class="ui_checkbox custom" name="{{ value }}" type="checkbox"
                value="{{ value }}" {% if value in condo.amenities %} checked="checked" {% endif %}
                style="pointer-events: none;">
            <span></span>
            <label>{{ text }}</label>
        </div>
        {% endfor %}
    </div>
</div>
</section>
  <!-- Inquiry Modal -->
{#  <div class="modal fade" id="inquiryModal" role="dialog">#}
{#    <div class="modal-dialog">#}
{#      <div class="modal-content">#}
{#        <div class="modal-header">#}
{#          <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>#}
{#          <button type="button" class="close" data-dismiss="modal">#}
{#            <span>&times;</span>#}
{#          </button>#}
{#        </div>#}
{#        <div class="modal-body">#}
{#            #}
{#          <form action="{% url 'estate:contact' %}" method="POST">#}
{#            {% csrf_token %}#}
{#            {% if user.is_authenticated %}#}
{#              <input type="hidden" name="user_id" value="{{ user.id }}">#}
{#            {% else %}#}
{#              <input type="hidden" name="user_id" value="0">#}
{#            {% endif %}#}
{#            <input type="hidden" name="unit_owner_id" value="{{ unit.owner.id  }}">#}
{#            <input type="hidden" name="unit_id" value="{{ unit.number }}">#}
{#            <div class="form-group">#}
{#              <label for="property_name" class="col-form-label">Property:</label>#}
{#              <input type="text" name="unit_title" class="form-control" value="{{ unit.title   }}" >#}
{#            </div>#}
{#            <div class="form-group">#}
{#              <label for="name" class="col-form-label">Name:</label>#}
{#              <input type="text" name="name" class="form-control" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %}  required>#}
{#            </div>#}
{#            <div class="form-group">#}
{#              <label for="email" class="col-form-label">Email:</label>#}
{#              <input type="email" name="email" class="form-control" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>#}
{#            </div>#}
{##}
{#            <div class="form-group">#}
{#              <label for="message" class="col-form-label">Message:</label>#}
{#              <textarea name="message" class="form-control"></textarea>#}
{#            </div>#}
{#            <hr>#}
{#            <input type="submit" value="Send" class="btn btn-block btn-secondary">#}
{#          </form>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}


{% endblock %}

</html>