{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <title>{{ unit.unit_number }}</title>
</head>


{% block content %}

<section>
    <div class="row" style="background-color: aqua; width: 100%; margin: 0%;">
        <div class="col-sm"
            style="min-height: 360px; background-image: url('{{ unit.get_first_image }}');">

        </div>
        <div class="col-sm"
            style="font-family: 'Times New Roman', Times, serif; text-align: center; color: white; background-image: url(https://i.pinimg.com/originals/97/42/6e/97426e87ed06da4ac76e704c74a5062b.jpg);">
            <h2>{{ unit.title }}</h2>
            <br>
            <h4>Unit number: {{ unit.number }}</h4>
            <table class="table table-borderless" style="font-family: 'Times New Roman', Times, serif; color: white;">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Unit size:</td>
                        <td>{{ unit.area }} m²</td>
                        <td>Floor level:</td>
                        <td>{{ unit.floor_number }}</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-bed"></i></td>
                        <td>{{ unit.number_of_bedroom }}</td>
                        <td><i class="fas fa-bath"></i></td>
                        <td>{{ unit.number_of_bathroom }}</td>
                    </tr>
                    <tr>
                        <td>For rent:</td>
                        <td>{{ unit.price_for_rent }} ฿</td>
                        <td>For sale:</td>
                        <td>{{ unit.price_for_sell }} ฿</td>
                    </tr>
                </tbody>
                </table>
            </table>
        </div>
    </div>
</section>

<section>
    <div style="margin: 15px;">
        <div class="row" style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; margin: 0%;">
            <div class="col" style="display: flex; flex-direction: column; flex-basis: 100%; flex: 1;">
                <div style="height: auto; background-color: #7ba5d5; border-radius: 1em;">
                    <p style="padding: 3%; font-family: 'Times New Roman', Times, serif;">
                        {{ condo.description }}
                    </p>
                </div>
                <div style="margin-top: 5%;">
                    <div style="height: auto; background-color:#d1e5fe; border-radius: 1em;">
                        <p style="padding: 3%; font-family: 'Times New Roman', Times, serif;">
                            Contract <br>
                            long list of contract <br>
                            or form <br>
                            for future use <br>
                            in the next iteration <br>
                            may contain picture and pop up
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div style="width: 300px; height: auto; background-color:#d1e5fe; border-radius: 1em;">
                    <div style="padding: 2%; font-family: 'Times New Roman', Times, serif;">
                        <h3 style="font-family: 'Times New Roman', Times, serif;">Amenities</h3>

                        {% for value, text in condo.AMENITY_TYPES %}
                        <div class="ui_checkbox">
                            <input id="id_amenity_{{ forloop.counter0 }}" class="ui_checkbox custom" name="{{ value }}"
                                type="checkbox" value="{{ value }}" {% if value in condo.amenities %} checked="checked"
                                {% endif %} style="pointer-events: none;">
                            <span></span>
                            <label>{{ text }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

</html>