{% load static %} {% block content %}
<ul>
    <button id="btn_condo">Add condo</button>
    <button id="btn_room">Add room</button>
    <a href="{% url 'estate:index' %}"><button>Back to Index</button></a>

  <div id="condo_form_fields">
    <h2>ADD CONDO</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'estate:upload_condo' %}">
        {% csrf_token %}
        <table id="image_fields_condo">{{ condo_form.as_table }}</table>
        <button id="btn_add_condo_image" type="button" name="number_of_images" value="0">Add Image</button>
        <button type="submit">Upload</button>
    </form>
    <div id="pi"></div>
  </div>


  <div id="room_form_fields">
    <h2>ADD ROOM</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'estate:upload_room' %}">
        {% csrf_token %}
        <table id="image_fields_room">{{ room_form.as_table }}</table>
        <button id="btn_add_room_image" type="button" name="nunber_of_images" value="0">Add Image</button>
        <button type="submit">Upload</button>
    </form>
  </div>

  {% endblock %}
</ul>

<script>

    condoFields = document.getElementById("condo_form_fields");
    roomFields = document.getElementById("room_form_fields");

    condoFields.style.display = "block";
    roomFields.style.display = "none";

    btnCondo = document.getElementById("btn_condo")
    btnCondo.addEventListener('click', function () {
        condoFields.style.display = "block";
        roomFields.style.display = "none";
    })
    btnRoom = document.getElementById("btn_room")
    btnRoom.addEventListener('click', function () {
        condoFields.style.display = "none";
        roomFields.style.display = "block";
    })

    imageFieldsCondo = document.getElementById("image_fields_condo")
    btnAddCondoImage = document.getElementById("btn_add_condo_image")
    var nImage = 0
    btnAddCondoImage.addEventListener('click', function () {
        nImage++
        btnAddCondoImage.value = nImage
        document.getElementById("pi").innerHTML = btnAddCondoImage.value
        element = '{{ condo_images_form.as_table }}'
        imageFieldsCondo.innerHTML += element
    })

    imageFieldsRoom = document.getElementById("image_fields_room")
    btnAddRoomImage = document.getElementById("btn_add_room_image")
    var nImage = 0
    btnAddRoomImage.addEventListener('click', function () {
        nImage++
        btnAddCondoImage.value = nImage
        btnAddRoomImage += 1
        element = '{{ room_images_form.as_table }}</tr>'
        imageFieldsRoom.innerHTML += element
    })

</script>
