{% load static %} {% block content %}
<ul>
    <button id="btn_condo">Add condo</button>
    <button id="btn_unit">Add unit</button>
    <a href="{% url 'estate:index' %}"><button>Back to Index</button></a>

  <div id="condo_form_fields">
    <h2>ADD CONDO</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'estate:upload_condo' %}">
        {% csrf_token %}
        <table id="image_fields_condo">
            {{ condo_form.as_table }}
            <th>Image:</th><td><input name="files" type="file" size="50" accept="image/*" multiple></td>
        </table>
        <button id="btn_add_condo_image" type="button" name="number_of_images" value="0">Add Image</button>
        <button type="submit">Upload</button>
    </form>
    <div id="pi"></div>
  </div>


  <div id="unit_form_fields">
    <h2>ADD UNIT</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'estate:upload_unit' %}">
        {% csrf_token %}
        <table id="image_fields_unit">
            {{ unit_form.as_table }}
            <th>Image:</th><td><input name="files" type="file" size="50" accept="image/*" multiple></td>
        </table>
        <button id="btn_add_unit_image" type="button" name="nunber_of_images" value="0">Add Image</button>
        <button type="submit">Upload</button>
    </form>
  </div>

  {% endblock %}
</ul>

<script>
    condoFields = document.getElementById("condo_form_fields");
    unitFields = document.getElementById("unit_form_fields");

    condoFields.style.display = "block";
    unitFields.style.display = "none";

    btnCondo = document.getElementById("btn_condo")
    btnCondo.addEventListener('click', function () {
        condoFields.style.display = "block";
        unitFields.style.display = "none";
    })

    btnUnit = document.getElementById("btn_unit")
    btnUnit.addEventListener('click', function () {
        condoFields.style.display = "none";
        unitFields.style.display = "block";
    })

    imageFieldsCondo = document.getElementById("image_fields_condo")
    btnAddCondoImage = document.getElementById("btn_add_condo_image")
    var nImage = 0
    btnAddCondoImage.addEventListener('click', function () {
        nImage++
        btnAddCondoImage.value = nImage
        document.getElementById("pi").innerHTML = btnAddCondoImage.value
        element = '<th></th><td><input name="files" type="file" size="50" accept="image/*" multiple></td>'
        imageFieldsCondo.innerHTML += element
    })

    imageFieldsUnit = document.getElementById("image_fields_unit")
    btnAddUnitImage = document.getElementById("btn_add_unit_image")
    var nImage = 0
    btnAddUnitImage.addEventListener('click', function () {
        nImage++
        btnAddCondoImage.value = nImage
        btnAddUnitImage += 1
        element = '<th></th><td><input name="files" type="file" size="50" accept="image/*" multiple></td>'
        imageFieldsUnit.innerHTML += element
    })

</script>
